    /* * {
        padding: 0;
        margin: 0;
    }  */

    body {
        font-family: 'Kaushan Script', cursive;
    }

    h1 {
        text-align: center;
        margin-top: 25px;
    }

    img {
        margin-left: 29%;
        width: 34%;
        height: 34%;
    }

    #main-container {
        margin: 7%;
        padding: 2%;
        border: 2px solid gray;
    }

    #top-container {
        margin: 1%;
        padding: 3%;
        border-bottom: 2px solid silver;
    }

    #footer {
        
        padding-top: 6%;
        border-top: 2px solid silver;
        text-align: center;
        color: gray;
    }

    /*******************Nav Styling**********************/
    .nav ul {
            text-align: center;
            color: gray;
    /* border-bottom: 5px double black; */
     list-style: none;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .nav li {
    color: black;
    display: inline; 
    font-size: 20px;
    font-family: helvetica; 
    padding-right: 65px;
    text-decoration: none;
    }
     nav li a:hover {
    background-color: #76BED0;
    color: #fff;
    font-size: 20px;
}

nav a {
    text-decoration: none;
}
     nav li a:active {
    background-color: #76BED0;
    color: #fff;
    font-size-adjust: 25px;
}

/*******************Social Medida Buttons**********************/

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}


.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}


.fa-instagram {
  background: #125688;
  color: white;
}


/*******************Project Styling**********************/
.project-styles {
    /* border: 2px solid red; */
    margin: 50px;
    padding: 20px;
}

/*******************Blog Styling**********************/
.blog-styles {
    /* border: 2px solid red; */
    margin: 15px 15px;
    padding: 25px;
}

.blog-home {
    padding-top: 15px;
}