    * {
    padding: 0;
    margin: 0;
    }

    body {
    font-family: 'Lato', sans-serif;
    background-image: url('https://images.unsplash.com/photo-1517059224940-d4af9eec41b7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=138da2df65dd01d6715a76b5ac1b9441&auto=format&fit=crop&w=1167&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    }

    h1 {
        text-align: center;
        margin-top: 25px;
    }

    /* img {
        width: 34%;
        height: 34%;
    } */

    #bio-container {
    background-image: url('https://images.unsplash.com/photo-1518600654093-2a24cddafa38?ixlib=rb-0.3.5&s=d89da5b98e50f66dd07e935336655199&auto=format&fit=crop&w=1117&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    }

    #resume-container {
    background-image: url('https://images.unsplash.com/photo-1518600654093-2a24cddafa38?ixlib=rb-0.3.5&s=d89da5b98e50f66dd07e935336655199&auto=format&fit=crop&w=1117&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    }

    #projects-container {
    background-image: url('https://images.unsplash.com/photo-1518600654093-2a24cddafa38?ixlib=rb-0.3.5&s=d89da5b98e50f66dd07e935336655199&auto=format&fit=crop&w=1117&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    }

    #blog-container {
    background-image: url('https://images.unsplash.com/photo-1518600654093-2a24cddafa38?ixlib=rb-0.3.5&s=d89da5b98e50f66dd07e935336655199&auto=format&fit=crop&w=1117&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    }

    #skills-container {
    background-image: url('https://images.unsplash.com/photo-1518600654093-2a24cddafa38?ixlib=rb-0.3.5&s=d89da5b98e50f66dd07e935336655199&auto=format&fit=crop&w=1117&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    }

    #contact-container {
    background-image: url('https://images.unsplash.com/photo-1517059224940-d4af9eec41b7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=138da2df65dd01d6715a76b5ac1b9441&auto=format&fit=crop&w=1167&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    }

    .shorten-text {
     width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }

    /*******************Nav Styling**********************/

.navbar{
  background-color: black;
}

.navbar-default {
  border-color: black;
}

/******************* Contact Styling **********************/

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}


.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}


.fa-instagram {
  background: #125688;
  color: white;
}


/*******************Project Styling**********************/
.project-styles {
    /* border: 2px solid red; */
    margin: 50px;
    padding: 20px;
}

/*******************Blog Styling**********************/
.blog-styles {
    /* border: 2px solid red; */
    margin: 15px 15px;
    padding: 25px;

}

.blog-home {
    padding-top: 15px;
}

#blog-container {
    font-size: 25px;
}