    body {
    font-family: 'Lato', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    }

    main {
    flex: 1 0 auto;
  }

.parallax-container {
    height: 800px;
}

img {
    height: auto;
    max-width: 100%;
}

.tech-img {
    height: 92px;
}
    /*******************Bio Styling**********************/
.bio-styles{
        margin-top: 81px;
    }

.bio-img {
    border-radius: 10px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    }

.text-size {
    font-size: 20px;
}
/******************* Contact Styling **********************/

.contact-styles {
    margin-top: 50px;
}



/*******************Project Styling**********************/
.card-image{
    height: 200px;
    overflow: hidden;
}


/*******************  Nav Styling**********************/
nav .brand-logo {
    margin-left: 46px;
}


.footer-styles {
    display: flex;
    justify-content: space-between;
    padding-right: 67%;
}

